:root {
  --navbar: #d3d3d3;
  --primary: #fafafa;
}

* {
  font-family: sans-serif;
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: var(--primary);
}

.container {
  width: auto;
  background-color: var(--primary);
  margin-top: 10rem;
}
.container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.detail-post {
  display: flex;
}

.detail-post .detail-image-post {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.detail-post .detail-image-post img {
  width: 700px;
  height: 500px;
  object-fit: cover;
  border-radius: 0.4rem;
}

.detail-post .detail-date-post {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detail-date-post .detail-time-post {
  font-size: 1.7rem;
}

.detail-date-post .detail-time-post h3,
i {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.detail-technology-post {
  font-size: 1.7rem;
}

.detail-technology-post h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-technology-post .detail-technology {
  display: grid;
  grid-template-columns: auto auto;
}

.detail-technology-post .detail-technology .detail-tech {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.detail-technology-post .detail-technology span {
  margin-left: 1.4rem;
}

.detail-technology-post .detail-technology img {
  width: 50px;
  border-radius: 50%;
}

.detail-description {
  text-align: justify;
  margin-top: 40px;
  padding: 0 3rem;
  font-size: 1rem;
}

.detail-description p {
  margin-top: 2rem;
}

/* media query */

@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }

  .detail-post {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .detail-post .detail-image-post {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
  }

  .detail-post .detail-image-post img {
    width: 50rem;
    object-fit: cover;
    border-radius: 0.8rem;
  }

  .detail-post .detail-date-post {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .detail-date-post .detail-time-post {
    font-size: 1.7rem;
  }

  .detail-date-post .detail-time-post h3,
  i {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .detail-technology-post {
    font-size: 1.7rem;
  }

  .detail-technology-post h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .detail-technology-post .detail-technology {
    display: grid;
    grid-template-columns: auto auto;
  }

  .detail-technology-post .detail-technology .detail-tech {
    display: flex;
  }

  .detail-technology-post .detail-technology .detail-tech {
    align-items: center;
    margin-top: 1rem;
  }

  .detail-technology-post .detail-technology span {
    margin-left: 1.4rem;
  }

  .detail-technology-post .detail-technology img {
    width: 50px;
    border-radius: 50%;
  }

  .detail-description p {
    font-size: 1.7rem;
    padding: 1rem;
  }
}

@media (max-width: 890px) {
  .detail-technology-post .detail-technology {
    display: flex;
    flex-direction: column;
  }

  .detail-post .detail-image-post img {
    width: 40rem;
    object-fit: cover;
    border-radius: 0.8rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .detail-post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .detail-post .detail-image-post img {
    width: 60rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .detail-post .detail-date-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .detail-post .detail-date-post .detail-time-post {
    font-size: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 0.8rem;
  }

  .detail-post .detail-date-post .detail-technology {
    display: grid;
    grid-template-columns: auto auto;
  }

  .detail-post .detail-date-post .detail-technology-post {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 0.8rem;
  }

  .detail-technology-post .detail-technology {
    display: grid;
    grid-template-columns: auto auto;
  }

  .detail-technology-post .detail-technology .detail-tech {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .detail-technology-post .detail-technology img {
    width: 50px;
    border-radius: 50%;
  }

  .detail-description p {
    font-size: 1.7rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .detail-post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .detail-post .detail-image-post {
    justify-content: center;
  }

  .detail-post .detail-image-post img {
    object-fit: cover;
    width: 40rem;
  }

  .detail-post .detail-date-post {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  .detail-post .detail-date-post .detail-technology {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .detail-post .detail-technology-post .detail-tech {
    display: flex;
    flex-wrap: wrap;
  }
}
