:root {
  --navbar: #d3d3d3;
  --primary: #fafafa;
}

* {
  font-family: sans-serif;
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: var(--primary);
}

.container {
  width: auto;
  background-color: var(--primary);
  margin-top: 10rem;
}
.container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.detail-post {
  display: flex;
}

.detail-post .detail-image-post {
  flex: 1.5;
}

.detail-post .detail-image-post img {
  width: 700px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.detail-post .detail-date-post {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detail-date-post .detail-time-post {
  display: inline-block;
}

.detail-date-post .detail-time-post {
  font-size: 20px;
}

.detail-date-post .detail-time-post h3 {
  margin-bottom: 10px;
}

.detail-date-post .detail-time-post i {
  margin-right: 10px;
  margin-bottom: 20px;
}

.detail-technology-post h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-technology-post .detail-technology {
  display: grid;
  grid-template-columns: auto auto;
}

.detail-technology-post .detail-technology .detail-tech {
  display: flex;
  margin-left: 2rem;
}

.detail-technology-post .detail-technology .detail-tech div {
  margin-top: 15px;
}

.detail-technology-post .detail-technology span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 1020px;
}

.detail-technology-post .detail-technology img {
  width: 50px;
  border-radius: 50%;
}

.detail-description {
  text-align: justify;
  margin-top: 40px;
  font-size: larger;
}

/* media query */

@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }

  .detail-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .detail-post .detail-image-post {
    display: flex;
    justify-content: center;
  }

  .detail-post .detail-image-post img {
    justify-content: center;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .detail-post .detail-date-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }

  .detail-post .detail-date-post .detail-time-post div {
    font-size: 2rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .detail-post .detail-date-post .detail-technology {
    display: grid;
    grid-template-columns: auto auto;
  }

  .detail-post .detail-date-post .detail-technology-post {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .detail-post .detail-technology-post .detail-tech {
  }

  .detail-description p {
    font-size: 1.7rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .detail-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .detail-post .detail-image-post img {
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 45rem;
  }

  .detail-post .detail-date-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .detail-post .detail-date-post .detail-time-post {
    flex: 1;
    font-size: 2rem;
  }

  .detail-post .detail-date-post .detail-technology {
    display: grid;
    grid-template-columns: auto auto;
  }

  .detail-post .detail-date-post .detail-technology-post {
    flex: 1;
    font-size: 1.5rem;
  }

  .detail-description p {
    font-size: 1.7rem;
    padding: 1rem;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 50%;
  }

  .detail-post {
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .detail-post .detail-image-post {
    display: flex;
    justify-content: center;
  }

  .detail-post .detail-image-post img {
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 30rem;
  }

  .detail-post .detail-date-post {
    display: block;
    justify-content: center;
  }

  .detail-post .detail-date-post .detail-time-post {
    flex: 1;
    font-size: 1.4rem;
  }

  .detail-post .detail-date-post .detail-technology {
    display: flex;
    flex-direction: column;
  }

  .detail-post .detail-date-post .detail-technology-post {
    flex: 1;
    font-size: 1.5rem;
    display: block;
  }

  .detail-post .detail-technology-post .detail-tech {
    display: flex;
    flex-wrap: wrap;
  }

  .detail-description p {
    font-size: 1.7rem;
    padding: 1rem;
  }
}
